@font-face {
    src: url(/src/font/SourceSerifPro-Regular.ttf);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-family: serif
  }
.head{
    color: white
}

@media screen and (max-width:600px){
    .head{
        font-display: auto;
        font-size: 22px;
        font-family: serif;
        margin-top: 5%;
        margin-bottom: 2%;
        color: white
    }
}